.logout-wrapper{
    padding: 3rem;
}

.logout-text{
    font-size: 1.25rem;
    text-decoration: underline;
    color: #303030;
    padding: 0 3rem;
    display: flex;
    justify-content: flex-end;
}
.logout-text p{
    cursor: pointer;
}

.email-text{
    display: flex;
    font-size: 1.25rem;
    gap: 20px;
}