.carousel-wrapper {
  gap: 10px;
}
.carousel-wrapper > div {
  flex: 1;
}
.carousel-image {
  width: 100%;
  height: 100%;
}
.first-image-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.first-image-text h3 {
  font-size: 2rem;
}
.first-image-text p {
  font-size: 1.25rem;
  margin: 0;
}
@media (min-width: 768px) {
  .carousel-wrapper {
    display: flex;
  }
}
