body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roobert", sans-serif;
}
.PrivateSwipeArea-root {
  display: none;
}
.css-n2n0ek {
  display: none;
}

.css-19r6kue-MuiContainer-root {
  padding-left: 0.5rem !important;
}

.main-content {
  margin-top: 3.75rem;
}
* {
  scroll-behavior: smooth;
}

button:not(.bs-none) {
  box-shadow: 0 4px 16px 1px rgb(0 0 0 / 25%);
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
