body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roobert", sans-serif;
}
.PrivateSwipeArea-root {
  display: none;
}
.css-n2n0ek {
  display: none;
}

.css-19r6kue-MuiContainer-root {
  padding-left: 0 !important;
}
